bcrypt
blinker
certifi==2025.7.14
cffi
charset-normalizer==3.4.2
click
cloudinary==1.44.1
cryptography
dnspython
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pycparser
pymongo
python-dotenv
requests==2.32.4
six==1.17.0
SQLAlchemy
typing_extensions
urllib3==2.5.0
Werkzeug
